<nav class="navbar navbar-expand-lg navbar-dark mb-3 bg-dark ">
  
  
  <div class="collapse navbar-collapse mr-4" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active mr-4" routerLink="/"> Home <span class="sr-only">(current)</span></a>
	</div>
	<div class="navbar-nav">
      <a class="nav-item nav-link  mr-4" routerLink="/regpage"> Registration <span class="sr-only">(current)</span></a>
	</div>
	<div class="navbar-nav">
      <a class="nav-item nav-link mr-4" routerLink="/about"> About <span class="sr-only">(current)</span></a>
	</div>
	<div class="navbar-nav " >
      <a class="nav-item nav-link mr-4 " routerLink="/posts"> Post <span class="sr-only">(current)</span></a>
   </div>
  </div>
  <div class="navbar-nav float-right " >
      <a class="nav-item nav-link mr-4 " routerLink="/login"> Login </a>
   </div>
</nav>

