<div class=" modal-dialog">
	<div class="modal-content">
		<div class="modal-header">Login</div>
		<form>

			<input class="form-control p-1 mb-2" type="text" placeholder="E-mail address">
			<input class="form-control p-1 mb-2" type="password" placeholder="Password">

			<div class="action ">
				<a class="btn btn-primary signup mr-2" href="index.html">Login</a>
				<button class="btn btn-primary" type="reset">Cancel</button>
			</div>

			

			<div class="already">
				<p>Don't have an account yet ? <a href="signup.html">Signup</a></p>

			</div>

		</form>


	</div>

</div>