<div class=" modal-dialog shadow dailog-position" >
	<div class="modal-content m3" style="background-color: beige;">
		<div class="modal-header shadow" style="background-color: black;-webkit-text-fill-color: aliceblue;">About</div>
		
			<p class="m-2">We Are non profit individauls with Intent to provide common digital platform for charities and donators to 
				post their need and excess.<br>
				For further details please reachout to below contacts<br><br>
				1. Kishor Kumar 9878745765
			</p>

	</div>

</div>