<div class="modal-dialog shadow-sm dailog-position">
	<div class="modal-content m3">
		<div class="modal-header" style="background-color: black;-webkit-text-fill-color: aliceblue;">Login</div>

		<form class="m-3">
			<div class="row">
			<div class="col-sm w-50">
				<input class="form-control p-1 m-2 " type="text" placeholder="E-mail address">
				<input class="form-control p-1 m-2 " type="password" placeholder="Password">

				<div class="action m-2">
					<a class="btn btn-primary signup mr-2" href="/home">Login</a>
					<button class="btn btn-primary" type="reset">Cancel</button>
				</div>
			</div>
			<div class="col-sm w-50 inline">
				<div ><input class="form-control m-2 w-75" type="text" placeholder="Phone number">
				<input class="form-control p-1 m-2 w-75" type="text" placeholder="OTP"><a
						class="btn btn-primary ml-2" href="/home">Submit</a></div>
			</div>
			
		</div>
		<div class="already m-2">
				<p>Don't have an account yet ? <a href="signup.html">Signup</a></p>

			</div>
		</form>
		
	</div>

</div>