<div class=" modal-dialog shadow-sm">
	<div class="modal-content m3">
		<div class="modal-header" style="background-color: black;">Login</div>
		<form>

			<input class="form-control p-1 m-2 w-75" type="text" placeholder="E-mail address">
			<input class="form-control p-1 m-2 w-75" type="password" placeholder="Password">

			<div class="action m-2">
				<a class="btn btn-primary signup mr-2" href="index.html">Login</a>
				<button class="btn btn-primary" type="reset">Cancel</button>
			</div>

			

			<div class="already m-2">
				<p>Don't have an account yet ? <a href="signup.html">Signup</a></p>

			</div>

		</form>

	</div>

</div>