<div class="col-sm  ml-2 " style="height:470px;">
	<div class="row mb-2 round h-30 p2" style="background-color:crimson">
		<marquee>
			<h3 style="font-family: fantasy;color:antiquewhite">Donations</h3>
		</marquee>
		<ul>
			<li>Abc donated blah blah <a href="#">read more </a></li>
			<li>xyz donated blah blah <a href="#">read more </a></li>
			<li><a>read more </a></li>
			<li><a>read more </a></li>
			<li><a>read more </a></li>

		</ul>

	</div>
	<div class="row round h-50" style="background-color:crimson">
		<marquee>
			<h3 style="font-family: fantasy;color:antiquewhite">Just In</h3>
		</marquee>
		<ul>
			<li>Abc posted blah blah <a href="#">read more </a></li>
			<li>Xyz Posted donated blah blah <a href="#">read more </a></li>
			<li>axz posted for soes <a href="#">read more </a></li>
			<li><a>read more </a></li>
			<li><a>read more </a></li>

		</ul>
	</div>
</div>
